In [2]:
import pandas as pd
x=['Python','Pandas']
df=pd.DataFrame(x)
print(df)

        0
0  Python
1  Pandas

In [3]:
import numpy as np
a=pd.Series(['Java','C','C++',np.nan])
a.map({'Java':'Core'})

0    Core
1     NaN
2     NaN
3     NaN
dtype: object

In [5]:
a=pd.Series(['Java','C','C++',np.nan])
a.map({'Java':'Core'})
a.map('I like {}'.format,na_action='ignore')

0    I like Java
1       I like C
2     I like C++
3            NaN
dtype: object

In [7]:
s=pd.Series(['a','b','c'],name='vals')
s.to_frame()

  vals
0    a
1    b
2    c

In [8]:
import matplotlib.pyplot as plt
emp=['Parker','John','Smith','William']
id=[102,107,109,114]
emp_series=pd.Series(emp)
id_series=pd.Series(id)
frame={'Emp':emp_series,'ID':id_series}
result=pd.DataFrame(frame)
print(result)

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

In [10]:
info={'ID':[101,102,103],'Department':['B.Sc','B.Tech','M.Tech']}
df=pd.DataFrame(info)
print(df)

    ID Department
0  101       B.Sc
1  102     B.Tech
2  103     M.Tech

In [11]:
info={'one':pd.Series([1,2,3,4,5,6], index=['a','b','c','d','e','f']),'two':pd.Series([1,2,3,4,5,6,7,8],index=['a','b','c','d','e','f','g','h'])}
d1=pd.DataFrame(info)
print(d1)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  6.0    6
g  NaN    7
h  NaN    8

In [12]:
info={'one':pd.Series([1,2,3,4,5,6]),'two':pd.Series([1,2,3,4,5,6,7,8])}
d1=pd.DataFrame(info)
print(d1)

   one  two
0  1.0    1
1  2.0    2
2  3.0    3
3  4.0    4
4  5.0    5
5  6.0    6
6  NaN    7
7  NaN    8

In [13]:
import pandas as pd
info = {
    "Name": pd.Series(['Pratyush', 'Navdeep', 'Parth']),
    "Age": pd.Series([20, 20, 20]),
    "City": pd.Series(['Ranchi', 'Rourkela', 'Mumbai'])
}
d2 = pd.DataFrame(info)
print(d2)

       Name  Age      City
0  Pratyush   20    Ranchi
1   Navdeep   20  Rourkela
2     Parth   20    Mumbai

In [15]:
import pandas as pd
info = {
    "Name": pd.Series(['Pratyush', 'Navdeep', 'Parth']),
    "Age": pd.Series([20, 20, 20]),
    "City": pd.Series(['Ranchi', 'Rourkela', 'Mumbai'])
}
d2 = pd.DataFrame(info)
print(d2)
print("Adding a new colum to the data-farme")
print()
d2["Gender"] = pd.Series(['Male', 'Male','Male'])
print(d2)

       Name  Age      City
0  Pratyush   20    Ranchi
1   Navdeep   20  Rourkela
2     Parth   20    Mumbai
Adding a new colum to the data-farme

       Name  Age      City Gender
0  Pratyush   20    Ranchi   Male
1   Navdeep   20  Rourkela   Male
2     Parth   20    Mumbai   Male

In [16]:
import pandas as pd
info = {
    "Name": pd.Series(['Pratyush', 'Navdeep', 'Parth']),
    "Age": pd.Series([20, 20, 20]),
    "City": pd.Series(['Ranchi', 'Rourkela', 'Mumbai'])
}
d2 = pd.DataFrame(info)
print(d2)

print()
print("Adding a new colum to the data-farme")
d2["Gender"] = pd.Series(['Male', 'Male','Male'])
print(d2)

print()
print("Deleting a column")
del d2['Gender']
print(d2)

       Name  Age      City
0  Pratyush   20    Ranchi
1   Navdeep   20  Rourkela
2     Parth   20    Mumbai

Adding a new colum to the data-farme
       Name  Age      City Gender
0  Pratyush   20    Ranchi   Male
1   Navdeep   20  Rourkela   Male
2     Parth   20    Mumbai   Male

Deleting a column
       Name  Age      City
0  Pratyush   20    Ranchi
1   Navdeep   20  Rourkela
2     Parth   20    Mumbai

In [17]:
info = {'one': pd.Series([1,2,3,4,5], index=['a','b','c','d','e']), 'two': pd.Series([1,2,3,4,5,6], index=['a','b','c','d','e','f'])}
df = pd.DataFrame(info)
print(df.iloc[2:5])

   one  two
c  3.0    3
d  4.0    4
e  5.0    5

In [18]:
d = pd.DataFrame([[7, 8], [9, 10]], columns=['x', 'y'])

# Creating the second DataFrame
d2 = pd.DataFrame([[11, 12], [13, 14]], columns=['x', 'y'])

# Concatenating the DataFrames
d = pd.concat([d, d2], ignore_index=True)

# Displaying the concatenated DataFrame
print(d)

    x   y
0   7   8
1   9  10
2  11  12
3  13  14